

.BackgroundPane{
    -fx-background-color: transparent;
    -fx-background-image: url('../Pictures/Table.jpeg');
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center;

}

.GameBoard{
    -fx-background-color: transparent;
    -fx-background-image: url('../Pictures/coffeebeanspread.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: 200;
}