

.BackgroundPane{
    -fx-background-color: transparent;
    -fx-background-image: url('../Pictures/Table.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-position: center;

}

.GameBoard{
    -fx-background-color: transparent;
    -fx-background-image: url('../Pictures/Board.png');
    -fx-background-repeat: no-repeat;
    -fx-background-size: auto;
    -fx-background-position: center;
}